#btnOrange {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 3;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 2.1em;
}
#btnOrange:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}
#btnOrange:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
#btnOrange Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}
#btnBlue {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 3;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #136ba3 0%, #135e8d 100%),
        #24799d,
        #3a9bd8,
        radial-gradient(center 50% 50%, radius 100%, #2d71cf, #2c7fc5);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 2.1em;
}
#btnBlue:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #136ba3 0%, #135e8d 100%),
        #24799d,
        #3a9bd8,
        radial-gradient(center 50% 50%, radius 100%, #4b8eea, #2c7fc5);
}
#btnBlue:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
#btnBlue Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #0060a3 , 0,0,0,2 );
}


#btnYellow {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 3;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a1a313 0%, #8c8d13 100%),
        #969d24	,
        #e4ea4a,
        radial-gradient(center 50% 50%, radius 100%, #f6ff0c, #eef93b);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.9em;
}
#btnYellow:hover {
    -fx-background-color: 
 linear-gradient(from 0% 93% to 0% 100%, #a1a313 0%, #8c8d13 100%),
        #969d24	,
        #e4ea4a,
        radial-gradient(center 50% 50%, radius 100%, #faff71, #eef93b);
}
#btnYellow:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
#btnYellow Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #9da300 , 0,0,0,2 );
}


#btnGreen {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 3;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #13a31d 0%, #248d13 100%),
        #4c9d24	,
        #6cea4a,
        radial-gradient(center 50% 50%, radius 100%, #00ff2a, #5ff93b);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.9em;
}
#btnGreen:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #13a31d 0%, #248d13 100%),
        #4c9d24	,
        #6cea4a,
        radial-gradient(center 50% 50%, radius 100%, #30db4c, #5ff93b);
}
#btnGreen:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
#btnGreen Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #9da300 , 0,0,0,2 );
}



#exit {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 3;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a32713 0%, #8d1313 100%),
        #9d2424	,
        #ea4a4a,
        radial-gradient(center 50% 50%, radius 100%, #db3030, #f93b3b);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.9em;
}
#exit:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a32713 0%, #8d1313 100%),
        #9d2424	,
        #ea4a4a,
        radial-gradient(center 50% 50%, radius 100%, #ff0000, #f93b3b);
}
#exit:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
#exit Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #9da300 , 0,0,0,2 );
}
