//
// Created with TexturePacker http://www.codeandweb.com/texturepacker
//
// SmartUpdateHash: $TexturePacker:SmartUpdate:f791bdbeb69a96d6e1160ce68b07679c:85a2f8bb6cf7b61df4b90ffb7e624e6d:92ba064d9487d3f5c256c803d7a87a2b$
//

.sprite-FIRE { display:inline-block; overflow: hidden; background-repeat: no-repeat; background-image: url('FIRE.png'); }

.FIRE-0_3.png { width: 73px; height: 104px; background-position: -1px -1px; }
.FIRE-0_4.png { width: 69px; height: 103px; background-position: -76px -1px; }
.FIRE-0_1.png { width: 69px; height: 100px; background-position: -147px -1px; }
.FIRE-0_2.png { width: 70px; height: 94px; background-position: -218px -1px; }
.FIRE-0_0.png { width: 69px; height: 88px; background-position: -290px -1px; }
