//
// Created with TexturePacker http://www.codeandweb.com/texturepacker
//
// SmartUpdateHash: $TexturePacker:SmartUpdate:6c67618b22b5da51d6cca04f19d6b31f:69d848cda36dc6c5de569392c8dca02d:4e3d02b0793846ab07a96361c3acc153$
//

.sprite-mb5 { display:inline-block; overflow: hidden; background-repeat: no-repeat; background-image: url('mb5.png'); }

.mb5-4.png { width: 104px; height: 133px; background-position: -1px -1px; }
